.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-30 {
    padding: 30px;
}

.padding-50 {
    padding: 50px;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-right-60 {
    padding-right: 60px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-left-60 {
    padding-left: 50px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.imp-padding-top-0 {
    padding-top: 0px !important;
}

.imp-padding-top-5 {
    padding-top: 5px !important;
}

.imp-padding-top-10 {
    padding-top: 10px !important;
}

.imp-padding-top-15 {
    padding-top: 15px !important;
}

.imp-padding-top-17 {
    padding-top: 17px !important;
}

.imp-padding-top-20 {
    padding-top: 20px !important;
}

.imp-padding-top-25 {
    padding-top: 25px !important;
}

.imp-padding-top-30 {
    padding-top: 30px !important;
}

.imp-padding-top-50 {
    padding-top: 50px !important;
}

.imp-padding-top-60 {
    padding-top: 60px !important;
}

.imp-padding-bottom-0 {
    padding-bottom: 0px !important;
}

.imp-padding-bottom-5 {
    padding-bottom: 5px !important;
}

.imp-padding-bottom-10 {
    padding-bottom: 10px !important;
}

.imp-padding-bottom-15 {
    padding-bottom: 15px !important;
}

.imp-padding-bottom-17 {
    padding-bottom: 17px !important;
}

.imp-padding-bottom-20 {
    padding-bottom: 20px !important;
}

.imp-padding-bottom-25 {
    padding-bottom: 25px !important;
}

.imp-padding-bottom-30 {
    padding-bottom: 30px !important;
}

.imp-padding-bottom-50 {
    padding-bottom: 50px !important;
}

.imp-padding-bottom-60 {
    padding-bottom: 60px !important;
}

.imp-padding-left-0 {
    padding-left: 0px !important;
}

.imp-padding-left-5 {
    padding-left: 5px !important;
}

.imp-padding-left-10 {
    padding-left: 10px !important;
}

.imp-padding-left-15 {
    padding-left: 15px !important;
}

.imp-padding-left-17 {
    padding-left: 17px !important;
}

.imp-padding-left-20 {
    padding-left: 20px !important;
}

.imp-padding-left-25 {
    padding-left: 25px !important;
}

.imp-padding-left-30 {
    padding-left: 30px !important;
}

.imp-padding-left-50 {
    padding-left: 50px !important;
}

.imp-padding-left-60 {
    padding-left: 60px !important;
}

.imp-padding-right-0 {
    padding-right: 0px !important;
}

.imp-padding-right-5 {
    padding-right: 5px !important;
}

.imp-padding-right-10 {
    padding-right: 10px !important;
}

.imp-padding-right-15 {
    padding-right: 15px !important;
}

.imp-padding-right-17 {
    padding-right: 17px !important;
}

.imp-padding-right-20 {
    padding-right: 20px !important;
}

.imp-padding-right-25 {
    padding-right: 25px !important;
}

.imp-padding-right-30 {
    padding-right: 30px !important;
}

.imp-padding-right-50 {
    padding-right: 50px !important;
}

.imp-padding-right-60 {
    padding-right: 60px !important;
}

.imp-padding-0 {
    padding: 0px !important;
}

.imp-padding-5 {
    padding: 5px !important;
}

.imp-padding-10 {
    padding: 10px !important;
}

.imp-padding-15 {
    padding: 15px !important;
}

.imp-padding-17 {
    padding: 17px !important;
}

.imp-padding-20 {
    padding: 20px !important;
}

.imp-padding-25 {
    padding: 25px !important;
}

.imp-padding-30 {
    padding: 30px !important;
}

.imp-padding-50 {
    padding: 50px !important;
}

.imp-padding-rem-1 {
    padding: 1rem !important;
}

.imp-padding-rem-2 {
    padding: 2rem !important;
}

.imp-padding-rem-3 {
    padding: 3rem !important;
}

.imp-padding-rem-4 {
    padding: 4rem !important;
}