div#myProfile__emailUpdateModal {
	.modal-header {
		border: 0 none;
	}
	.help-block {
		color: red;
		font-size: 14px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
}

div#myProfile__changePasswordModal {
	.modal-header {
		border: 0 none;
	}
	.help-block {
		color: red;
		font-size: 14px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
}